<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xk.srhwzzqdn.manager.system.mapper.SysMenuMapper">
    <sql id="columns">
        id,
        parent_id as parentId,
        title,
        component,
        sort_value as sortValue,
        status,
        create_time as createTime,
        create_by as createBy,
        update_time as updateTime,
        update_by as updateBy,
        is_deleted as isDeleted
    </sql>

    <!--  添加菜单  -->
    <insert id="addMenu">
        insert into t_sys_menu(
            id,
            parent_id,
            title,
            component,
            sort_value,
            status,
            create_time,
            create_by
        )values (
                    #{id},
                    #{parentId},
                    #{title},
                    #{component},
                    #{sortValue},
                    #{status},
                    now(),
                    #{createBy}
                )
    </insert>

    <!--  修改菜单  -->
    <update id="updateMenu">
        update t_sys_menu set
        <if test="title != null and title != ''">
            title = #{title},
        </if>
        <if test="component != null and component != ''">
            component = #{component},
        </if>
        <if test="sortValue != null">
            sort_value = #{sortValue},
        </if>
        <if test="status != null">
            status = #{status},
        </if>
        update_time = now(),
        update_by = #{updateBy}
        where id = #{id}
    </update>

    <!--  查询全部菜单  -->
    <select id="getAllMenu" resultType="com.xk.srhwzzqdn.model.entity.system.SysMenu">
        select <include refid="columns"/>
        from t_sys_menu
        where is_deleted = 0
        order by sort_value
    </select>

    <!--  根据id查询菜单  -->
    <select id="getMenuById" resultType="com.xk.srhwzzqdn.model.entity.system.SysMenu">
        select <include refid="columns"/> from t_sys_menu where id = #{param1} and is_deleted = 0
    </select>

    <!--  根据id查询子菜单的数量  -->
    <select id="getChildrenCountById" resultType="java.lang.Integer">
        select count(1) from t_sys_menu where parent_id = #{param1} and is_deleted = 0
    </select>

    <!--  根据用户id查询用户可操作的菜单  -->
    <select id="findMenusByUserId" resultType="com.xk.srhwzzqdn.model.entity.system.SysMenu">
        select distinct
            m.id,
            m.parent_id,
            m.title,
            m.component,
            m.sort_value,
            m.status,
            m.create_time,
            m.update_time,
            m.is_deleted,
            m.create_by,
            m.update_by
        from t_sys_menu m
                 join t_sys_role_menu_relation rm on m.id = rm.menu_id
                 join t_sys_user_role_relation ur on rm.role_id = ur.role_id
        where ur.user_id = #{param1} and m.is_deleted = 0 and m.status = 1
        order by m.sort_value
    </select>
</mapper>