<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xk.srhwzzqdn.manager.memoryReceptionArea.mapper.LifeMemoryAccessMapper">
    <!--  条件查询生活记忆列表  -->
    <select id="getLifeMemoryByCondition"
            resultType="com.xk.srhwzzqdn.model.entity.memoryReceptionArea.LifeMemory">
        select  t.id,
                t.memory_no,
                t.begin_time,
                t.end_time,
                t.life_type,
                t.life_content,
                t.life_consume,
                t.memory_place,
                t.memory_place_detail,
                t.memory_image,
                t.memory_source,
                t.memory_owner,
                t.row_memory_no,
                t.update_time,
                t.update_by,
                i.name as memoryOwnerName
        from t_life_memory t
          left join t_sys_person_info i
           on i.account_id = t.memory_owner
        <where>
            <if test="memoryNo != null and memoryNo != ''">
                and t.memory_no like concat('%', #{memoryNo}, '%')
            </if>
            <if test="lifeType != null and lifeType.size() > 0">
                and t.life_type in
                <foreach collection="lifeType" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="beginTime != null and beginTime != ''">
                and t.begin_time &gt;= #{beginTime}
            </if>
            <if test="endTime != null and endTime != ''">
                and t.begin_time &lt;= #{endTime}
            </if>
            <if test="memorySource != null and memorySource.size() > 0">
                and t.memory_source in
                <foreach collection="memorySource" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="memoryOwner != null and memoryOwner != ''">
                and t.memory_owner = #{memoryOwner}
            </if>
        </where>
        order by t.begin_time desc
    </select>
</mapper>