<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xk.srhwzzqdn.manager.assetControlArea.mapper.AssetTransactionMapper">

    <!--  新增资产记账  -->
    <insert id="addAssetTransaction">
        insert into t_asset_transaction (invoice_no,
                                      invoice_action,
                                      record_time,
                                      amount,
                                      asset_ledger_id,
                                      transaction_type,
                                      invoice_type,
                                      spending_type,
                                      income_type,
                                      settlement_status,
                                      invoice_owner,
                                      data_source,
                                      remark,
                                      update_time,
                                      update_by)
        values (#{invoiceNo},
                #{invoiceAction},
                #{recordTime},
                #{amount},
                #{assetLedgerId},
                #{transactionType},
                #{invoiceType},
                #{spendingType},
                #{incomeType},
                #{settlementStatus},
                #{invoiceOwner},
                #{dataSource},
                #{remark},
                now(),
                #{updateBy})
    </insert>

    <!--  修改资产记账  -->
    <update id="updateAssetTransaction">
        update t_asset_transaction
        <set>
            <if test="invoiceNo != null and invoiceNo != ''">
                invoice_no = #{invoiceNo},
            </if>
            <if test="invoiceAction != null and invoiceAction != ''">
                invoice_action = #{invoiceAction},
            </if>
            <if test="recordTime != null">
                record_time = #{recordTime},
            </if>
            <if test="amount != null">
                amount = #{amount},
            </if>
            <if test="assetLedgerId != null">
                asset_ledger_id = #{assetLedgerId},
            </if>
            <if test="transactionType != null">
                transaction_type = #{transactionType},
            </if>
            <if test="invoiceType != null">
                invoice_type = #{invoiceType},
            </if>
            <if test="spendingType != null">
                spending_type = #{spendingType},
            </if>
            <if test="incomeType != null">
                income_type = #{incomeType},
            </if>
            <if test="settlementStatus != null">
                settlement_status = #{settlementStatus},
            </if>
            <if test="invoiceOwner != null and invoiceOwner != ''">
                invoice_owner = #{invoiceOwner},
            </if>
            <if test="dataSource != null">
                data_source = #{dataSource},
            </if>
            <if test="remark != null and remark != ''">
                remark = #{remark},
            </if>
            update_time = now(),
            update_by = #{updateBy}
        </set>
        where id = #{id}
    </update>

    <!--   根据ids批量删除资产记账  -->
    <delete id="deleteAllAssetTransactionByIds">
        delete from t_asset_transaction where id in
        <foreach collection="ids" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </delete>
    <select id="getAssetTransactionListByCondition"
            resultType="com.xk.srhwzzqdn.model.vo.assetControl.AssetTransactionVo">
        select t.*,
               l.asset_name,
               l.asset_code,
               l.asset_no,
               (select d.`value` from t_sys_dict d where d.type = 'asset_type' and d.`code` = l.asset_type limit 1) asset_type,
               (select d.`value` from t_sys_dict d where d.type = concat('asset_type_', l.asset_type) and d.`code` = l.asset_sub_type limit 1) asset_sub_type,
               i.`name` as invoiceOwnerName
        from t_asset_transaction t
        join t_asset_ledger l
          on t.asset_ledger_id = l.id
        join t_sys_person_info i
          on i.account_id = t.invoice_owner
        <where>
            <if test="invoiceNo != null and invoiceNo != ''">
                and t.invoice_no like concat('%', #{invoiceNo}, '%')
            </if>
            <if test="invoiceAction != null and invoiceAction != ''">
                and t.invoice_action like concat('%', #{invoiceAction}, '%')
            </if>
            <if test="recordTimeStart != null and recordTimeStart != ''">
                and t.record_time &gt;= #{recordTimeStart}
            </if>
            <if test="recordTimeEnd != null and recordTimeEnd != ''">
                and t.record_time &lt;= #{recordTimeEnd}
            </if>
            <if test="amount != null">
                and t.amount &gt;= #{amount}
            </if>
            <if test="assetLedgerId != null">
                and t.asset_ledger_id = #{assetLedgerId}
            </if>
            <if test="transactionType != null">
                and t.transaction_type = #{transactionType}
            </if>
            <if test="invoiceType != null and invoiceType.size() > 0">
                and t.invoice_type in
                <foreach item="item" collection="invoiceType" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="spendingType != null and spendingType.size() > 0">
                and t.spending_type in
                <foreach item="item" collection="spendingType" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="incomeType != null and incomeType.size() > 0">
                and t.income_type in
                <foreach item="item" collection="incomeType" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="settlementStatus != null">
                and t.settlement_status = #{settlementStatus}
            </if>
            <if test="invoiceOwner != null and invoiceOwner != ''">
                and t.invoice_owner = #{invoiceOwner}
            </if>
            <if test="dataSource != null and dataSource.size() > 0">
                and t.data_source in
                <foreach item="item" collection="dataSource" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
        order by t.record_time desc
    </select>
    <select id="getAssetTransactionTypeGroupListByCondition"
            resultType="com.xk.srhwzzqdn.model.vo.assetControl.AssetTransactionTypeGroupVo">
        select (select d.`value`
                from t_sys_dict d
                where d.type = 'transaction_type' and d.`code` = t.transaction_type limit 1) transaction_type,
               sum(t.amount) transaction_amount
        from t_asset_transaction t
        <where>
            <if test="invoiceNo != null and invoiceNo != ''">
                and t.invoice_no like concat('%', #{invoiceNo}, '%')
            </if>
            <if test="invoiceAction != null and invoiceAction != ''">
                and t.invoice_action like concat('%', #{invoiceAction}, '%')
            </if>
            <if test="recordTimeStart != null and recordTimeStart != ''">
                and t.record_time &gt;= #{recordTimeStart}
            </if>
            <if test="recordTimeEnd != null and recordTimeEnd != ''">
                and t.record_time &lt;= #{recordTimeEnd}
            </if>
            <if test="amount != null">
                and t.amount &gt;= #{amount}
            </if>
            <if test="assetLedgerId != null">
                and t.asset_ledger_id = #{assetLedgerId}
            </if>
            <if test="transactionType != null">
                and t.transaction_type = #{transactionType}
            </if>
            <if test="invoiceType != null and invoiceType.size() > 0">
                and t.invoice_type in
                <foreach item="item" collection="invoiceType" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="spendingType != null and spendingType.size() > 0">
                and t.spending_type in
                <foreach item="item" collection="spendingType" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="incomeType != null and incomeType.size() > 0">
                and t.income_type in
                <foreach item="item" collection="incomeType" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="settlementStatus != null">
                and t.settlement_status = #{settlementStatus}
            </if>
            <if test="invoiceOwner != null and invoiceOwner != ''">
                and t.invoice_owner = #{invoiceOwner}
            </if>
            <if test="dataSource != null and dataSource.size() > 0">
                and t.data_source in
                <foreach item="item" collection="dataSource" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
        group by t.transaction_type
    </select>
</mapper>
