<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xk.srhwzzqdn.manager.assetControlArea.mapper.FundAssetMapper">
    <!--基金基本数据入库-->
    <insert id="addFundAsset">
        insert into t_fund_asset(
            fund_code,
            fund_name,
            fund_type,
            establish_date,
            asset_scale,
            fund_company,
            fund_company_desc,
            custodian,
            fund_manager,
            manager_start_date,
            manager_desc,
            operation_mode,
            closed_end_days,
            purchase_fee_rate,
            redeem_fee_rate,
            management_fee_rate,
            custodian_fee_rate,
            sales_service_fee_rate,
            trade_rule,
            remark,
            create_time,
            create_by,
            return_1m,
            return_3m,
            return_6m,
            return_1y,
            net_assets,
            stock_ratio,
            bond_ratio,
            cash_ratio,
            latest_scale,
            scale_history,
            institution_ratio,
            individual_ratio,
            internal_ratio
        ) values (
                   #{fundCode},
                   #{fundName},
                   #{fundType},
                   #{establishDate},
                   #{assetScale},
                   #{fundCompany},
                   #{fundCompanyDesc},
                   #{custodian},
                   #{fundManager},
                   #{managerStartDate},
                   #{managerDesc},
                   #{operationMode},
                   #{closedEndDays},
                   #{purchaseFeeRate},
                   #{redeemFeeRate},
                   #{managementFeeRate},
                   #{custodianFeeRate},
                    #{salesServiceFeeRate},
                    #{tradeRule},
                    #{remark},
                    now(),
                    #{createBy},
                    #{return1m},
                    #{return3m},
                    #{return6m},
                    #{return1y},
                    #{netAssets},
                    #{stockRatio},
                    #{bondRatio},
                    #{cashRatio},
                    #{latestScale},
                    #{scaleHistory},
                    #{institutionRatio},
                    #{individualRatio},
                    #{internalRatio}
        )
    </insert>

    <!--  基金经理数据入库  -->
    <insert id="addFundManagerAnalysis">
        insert into t_fund_manager_analysis (
            fund_code,
            manager_name,
            star_rating,
            work_time,
            manage_scale,
            total_score,
            stock_select_score,
            return_score,
            risk_control_score,
            stability_score,
            timing_score,
            manager_desc,
            concentration_rate_analyse,
            turnover_rate_analyse,
            capability_path_analysis,
            scale_ability_analysis,
            professional_background,
            product_management_analysis,
            stability_analysis,
            personal_holding,
            holdings_concentration,
            turnover_rate,
            background_match,
            scale_capability,
            education,
            focus_on_this_fund,
            is_manager_holding,
            award_records,
            create_time,
            create_by
        ) values (
                  #{fundCode},
                  #{managerName},
                  #{starRating},
                  #{workTime},
                  #{manageScale},
                  #{totalScore},
                  #{stockSelectScore},
                  #{returnScore},
                  #{riskControlScore},
                  #{stabilityScore},
                  #{timingScore},
                  #{managerDesc},
                  #{concentrationRateAnalyse},
                  #{turnoverRateAnalyse},
                  #{capabilityPathAnalysis},
                  #{scaleAbilityAnalysis},
                  #{professionalBackground},
                  #{productManagementAnalysis},
                  #{stabilityAnalysis},
                  #{personalHolding},
                  #{holdingsConcentration},
                  #{turnoverRate},
                  #{backgroundMatch},
                  #{scaleCapability},
                  #{education},
                  #{focusOnThisFund},
                  #{isManagerHolding},
                  #{awardRecords},
                  now(),
                  #{createBy}
        )
    </insert>

    <!--  持仓情况入库  -->
    <insert id="addFundHolding">
        insert into t_fund_holding (
            fund_code,
            hold_shares,
            available_shares,
            frozen_shares,
            cost_amount,
            market_value,
            profit_loss,
            profit_loss_rate,
            create_time,
            create_by,
            owner
        ) values (
                  #{fundCode},
                  #{holdShares},
                  #{availableShares},
                  #{frozenShares},
                  #{costAmount},
                  #{marketValue},
                  #{profitLoss},
                  #{profitLossRate},
                  now(),
                  #{createBy},
                  #{owner}
        )
    </insert>
</mapper>